In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import warnings
warnings.filterwarnings('ignore')
from tqdm import tqdm
%matplotlib inline

In [38]:
# which dataset

df = pd.read_csv('../Final/Berlin/merge_data_files/id_neighbordhood_date.csv' ,low_memory=False,index_col=0)

In [39]:
df

,id,latitude,longitude,host_id,host_since,room_type,neighbourhood_cleansed,neighbourhood_group_cleansed,review_scores_location,price,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location.1,review_scores_value,date
0,2602460,52.60010,13.32972,13315290,2014-03-19,Entire home/apt,MV 2,Reinickendorf,9.0,52.0,2015-09-15,93.0,9.0,10.0,10.0,10.0,9.0,9.0,2015-10-03
1,3637595,52.49110,13.41359,4094666,2012-11-08,Entire home/apt,Tempelhofer Vorstadt,Friedrichshain-Kreuzberg,10.0,60.0,2015-09-30,98.0,10.0,10.0,10.0,10.0,10.0,9.0,2015-10-03
2,6160418,52.49603,13.37990,1718617,2012-02-08,Entire home/apt,Tempelhofer Vorstadt,Friedrichshain-Kreuzberg,8.0,65.0,2015-05-05,100.0,10.0,10.0,10.0,10.0,8.0,8.0,2015-10-03
3,3588362,52.49348,13.39693,16739581,2014-06-13,Entire home/apt,Tempelhofer Vorstadt,Friedrichshain-Kreuzberg,9.0,199.0,2015-09-14,87.0,9.0,10.0,9.0,8.0,9.0,8.0,2015-10-03
4,6655897,52.48871,13.41666,34836886,2015-06-02,Entire home/apt,Tempelhofer Vorstadt,Friedrichshain-Kreuzberg,10.0,50.0,2015-07-18,100.0,10.0,10.0,10.0,10.0,10.0,10.0,2015-10-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005463,31386775,52.52315,13.38748,1581930,2012-01-08,Entire home/apt,Alexanderplatz,Mitte,10.0,286.0,2020-06-04,97.0,10.0,10.0,9.0,9.0,10.0,9.0,2020-08-30
1005464,31394785,52.51918,13.44295,58756297,2016-02-14,Private room,Karl-Marx-Allee-Nord,Friedrichshain-Kreuzberg,10.0,33.0,2020-03-04,97.0,10.0,10.0,10.0,10.0,10.0,10.0,2020-08-30
1005465,31397673,52.48174,13.36271,235168007,2019-01-08,Entire home/apt,Schöneberg-Süd,Tempelhof - Schöneberg,10.0,56.0,2020-08-16,98.0,10.0,10.0,10.0,10.0,10.0,10.0,2020-08-30
1005466,31381908,52.51189,13.41859,4713459,2013-01-15,Private room,Alexanderplatz,Mitte,10.0,55.0,2020-03-10,96.0,10.0,10.0,10.0,10.0,10.0,9.0,2020-08-30
1005467,1944,52.54425,13.39749,2164,2008-08-16,Private room,Brunnenstr. Nord,Mitte,9.0,20.0,2018-11-11,82.0,9.0,8.0,9.0,9.0,9.0,8.0,2020-08-30

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1005468 entries, 0 to 1005467
Data columns (total 19 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   id                            1005468 non-null  int64
 1   latitude                      1005468 non-null  float64
 2   longitude                     1005468 non-null  float64
 3   host_id                       1005468 non-null  int64
 4   host_since                    1004236 non-null  object
 5   room_type                     1005468 non-null  object
 6   neighbourhood_cleansed        1005468 non-null  object
 7   neighbourhood_group_cleansed  1005468 non-null  object
 8   review_scores_location        789516 non-null   float64
 9   price                         1005468 non-null  float64
 10  last_review                   811337 non-null   object
 11  review_scores_rating          791866 non-null   float64
 12  review_scores_accuracy        790101 non-null   float64
 13  review_scores_cleanliness     790373 non-null   float64
 14  review_scores_checkin         789441 non-null   float64
 15  review_scores_communication   790221 non-null   float64
 16  review_scores_location.1      789516 non-null   float64
 17  review_scores_value           789357 non-null   float64
 18  date                          1005468 non-null  object
dtypes: float64(11), int64(2), object(6)
memory usage: 153.4+ MB

In [41]:
date_columns=['date','host_since', 'last_review']

df.date = pd.to_datetime(df.date).apply(lambda x: x.toordinal())

In [46]:
pd.get_dummies(df.room_type , drop_first=True ,prefix="APT_or")

         APT_or_Hotel room  APT_or_Private room  APT_or_Shared room
0                        0                    0                   0
1                        0                    0                   0
2                        0                    0                   0
3                        0                    0                   0
4                        0                    0                   0
...                    ...                  ...                 ...
1005463                  0                    0                   0
1005464                  0                    1                   0
1005465                  0                    0                   0
1005466                  0                    1                   0
1005467                  0                    1                   0

[1005468 rows x 3 columns]

In [44]:
df = df.assign(have_review=df["last_review"].isna().astype(int))

In [45]:
df

,id,latitude,longitude,host_id,host_since,room_type,neighbourhood_cleansed,neighbourhood_group_cleansed,review_scores_location,price,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location.1,review_scores_value,date,have_review
0,2602460,52.60010,13.32972,13315290,2014-03-19,Entire home/apt,MV 2,Reinickendorf,9.0,52.0,2015-09-15,93.0,9.0,10.0,10.0,10.0,9.0,9.0,735874,0
1,3637595,52.49110,13.41359,4094666,2012-11-08,Entire home/apt,Tempelhofer Vorstadt,Friedrichshain-Kreuzberg,10.0,60.0,2015-09-30,98.0,10.0,10.0,10.0,10.0,10.0,9.0,735874,0
2,6160418,52.49603,13.37990,1718617,2012-02-08,Entire home/apt,Tempelhofer Vorstadt,Friedrichshain-Kreuzberg,8.0,65.0,2015-05-05,100.0,10.0,10.0,10.0,10.0,8.0,8.0,735874,0
3,3588362,52.49348,13.39693,16739581,2014-06-13,Entire home/apt,Tempelhofer Vorstadt,Friedrichshain-Kreuzberg,9.0,199.0,2015-09-14,87.0,9.0,10.0,9.0,8.0,9.0,8.0,735874,0
4,6655897,52.48871,13.41666,34836886,2015-06-02,Entire home/apt,Tempelhofer Vorstadt,Friedrichshain-Kreuzberg,10.0,50.0,2015-07-18,100.0,10.0,10.0,10.0,10.0,10.0,10.0,735874,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005463,31386775,52.52315,13.38748,1581930,2012-01-08,Entire home/apt,Alexanderplatz,Mitte,10.0,286.0,2020-06-04,97.0,10.0,10.0,9.0,9.0,10.0,9.0,737667,0
1005464,31394785,52.51918,13.44295,58756297,2016-02-14,Private room,Karl-Marx-Allee-Nord,Friedrichshain-Kreuzberg,10.0,33.0,2020-03-04,97.0,10.0,10.0,10.0,10.0,10.0,10.0,737667,0
1005465,31397673,52.48174,13.36271,235168007,2019-01-08,Entire home/apt,Schöneberg-Süd,Tempelhof - Schöneberg,10.0,56.0,2020-08-16,98.0,10.0,10.0,10.0,10.0,10.0,10.0,737667,0
1005466,31381908,52.51189,13.41859,4713459,2013-01-15,Private room,Alexanderplatz,Mitte,10.0,55.0,2020-03-10,96.0,10.0,10.0,10.0,10.0,10.0,9.0,737667,0
1005467,1944,52.54425,13.39749,2164,2008-08-16,Private room,Brunnenstr. Nord,Mitte,9.0,20.0,2018-11-11,82.0,9.0,8.0,9.0,9.0,9.0,8.0,737667,0

In [32]:
#### drop the row with non-values


df = (df[['latitude','longitude', 'review_scores_location','price',#'last_review',
       'review_scores_rating','review_scores_accuracy','review_scores_cleanliness',
       'review_scores_checkin','review_scores_communication','review_scores_location.1',
       'review_scores_value','date']])

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
train, test = train_test_split(df, test_size=.15, random_state=8)

In [35]:
df.columns

Index(['latitude', 'longitude', 'review_scores_location', 'price',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location.1',
       'review_scores_value', 'date'],
      dtype='object')

In [36]:
id_col = ["id"]
target_col = ["review_scores_value"]
num_cols = (['latitude','longitude', 'review_scores_location','price',#'last_review',
       'review_scores_rating','review_scores_accuracy','review_scores_cleanliness',
       'review_scores_checkin','review_scores_communication','review_scores_location.1',
       'review_scores_value','date'])
#bool_cols = ['']

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate

In [ ]:
train_X = train[num_cols + bool_cols]
train_y = train[target_col]
test_X = test[num_cols + bool_cols]
test_y = test[target_col]